
@{
    ViewBag.Title = "Data Explorer Community Thank You";
    ViewBag.Description = "Data Explorer community thank you";
    ViewBag.Keywords = "data explorer, open source, interactive, data visualization, data analysis, community";
}

<article>
    <header>
        <h1>Thank You</h1>
    </header>
    <p>
        Thank you for joining the Data Explorer community!
    </p>
    <p>
        You will begin receiving our monthly newsletter at the beginning of next month.
        In the meantime, feel free to check out our other community sites.
    </p>
    <a href="https://groups.google.com/forum/#!forum/data-explorer" target="blank">Discussion Forums</a>
    <br />
    <br />
    <a href="https://www.facebook.com/dataexplorer" target="blank">Facebook</a>
    <br />
    <br />
    <a href="https://twitter.com/dataexplorers" target="blank">Twitter</a>
    <br />
    <br />
</article>

