@{
    ViewBag.Title = "Data Explorer - Open-Source Interactive Data Visualization Tool";
    ViewBag.Description = "Data Explorer is an open-source interactive data visualization tool for exploratory data analysis.";
    ViewBag.Keywords = "data explorer, open source, interactive, data visualization, data analysis";
}

<article class="center">
    <header>
        <h1 class="center">Explore your data the quick and easy way.</h1>
    </header>
    <br />
    <iframe width="640" height="480" src="//www.youtube.com/embed/j-DdkkOg5Ck" frameborder="0" allowfullscreen></iframe>
    <br />
    <p class="medium">Visualize and interact with your data using a simple, yet powerful, user interface.</p>
    <br />
    <a class="button" href="/software/download">Download</a>
    <br />
    <br />
    <br />
</article>