@{
    ViewBag.Title = "Data Explorer Help";
    ViewBag.Description = "Help pages for the data explorer";
    ViewBag.Keywords = "data explorer, open source, interactive, data visualization, data analysis, help";
}

<article>
    <header>
        <h1>Help</h1>
    </header>
    <p>Coming soon...</p>
    <p>In the meantime, please see our <a href="/support">support pages</a> or email support questions to <a href="mailto:support@data-explorer.com">support@data-explorer.com</a></p>
</article>