@{
    ViewBag.Title = "Data Explorer Support";
    ViewBag.Description = "Support for the data explorer";
    ViewBag.Keywords = "data explorer, open source, interactive, data visualization, data analysis, support";
}

<article>
    <header>
        <h1>Getting Started</h1>
    </header>
    <p>
        We are currently creating a tutorial video to help you get started using the Data Explorer software.
        The tutorial video will be available in the very near future.
    </p>
    <p>
        In the meantime, we recommend the following steps:
        <ol>
            <li><a href="/home">Watch the features video</a> and the <a href="/about">scenarios video</a> to see all of the basic features and how they work.</li>
            <li><a href="/software/download">Download the data explorer</a> and install it on your computer.</li>
            <li><a href="/data">Download a sample data set</a> from the data page to practice using the software.</li>
            <li><a href="http://office.microsoft.com/en-us/excel-help/import-or-export-text-txt-or-csv-files-HP010099725.aspx#BMexport" target="blank">Convert</a> your data to <a href="http://en.wikipedia.org/wiki/Comma-separated_values" target="blank">CSV (Comma Separated Values)</a> format, if needed.
            <li>Import your data using the Data Explorer software</li>
            <li>Check the Frequently Asked Questions (below) if you run into any issues.</li>
        </ol>
    </p>
    <p>If you need any additional help getting started, please email us at <a href="mailto:support@data-explorer.com">support@data-explorer.com</a></p>
</article>
<hr />
<article>
    <header>
        <h1>Frequently Asked Questions</h1>
    </header>
    <h1>Why do I receive a warning when I download or install the Data Explorer?</h1>
    <p>
        Modern browsers protect users from accidentally downloading computer viruses and malware by tracking the popularity of software downloads.
        Since the Data Explorer is a relatively new application, the software has not yet reached a sufficient number of downloads to overcome this filter.
    </p>
    <p>
        In the meantime, please choose the option to accept the download and install the software.
        If you are using Windows 8, you need to click "More Info" and then "Run anyway" to install.
    </p>
    <br />
    <h1>Why do I get an error when I try to import my CSV file?</h1>
    <p>
        For the first public release of the Data Explorer, we coded the import process to import CSV files exactly as specified by <a href="http://tools.ietf.org/html/rfc4180" target="blank">RFC 4180</a>.
        However, we are planning to make the CSV file importer more forgiving of formatting anomalies in the near future.
    </p>
    <p>
        If you have a CSV file that isn't loading correctly, we recommend opening it in a spreadsheet application, like Microsoft Excel, and <a href="http://office.microsoft.com/en-us/excel-help/import-or-export-text-txt-or-csv-files-HP010099725.aspx#BMexport" target="blank">re-saving as a new CSV file.</a>
        This will typically clean up the formatting anomalies, thus allowing you to import the CSV file.
    </p>
    <br />
    <h1>Have other questions?</h1>
    <p>If you have any questions, please email them to <a href="mailto:support@data-explorer.com">support@data-explorer.com</a></p>
</article>
<hr />
<article>
    <header>
        <h1>Issues</h1>
    </header>
    <p>
        If you find a bug or issue with the software, please let us know.
    </p>
    <p>
        You can either report the issue directly through our <a href="https://github.com/dataexplorer/dataexplorer/issues" target="blank">issues list</a> or you can <a href="mailto:support@data-explorer.com">email</a> us and we'll take care of the rest.
    </p>
</article>